

{{> head}}
   {{> titleandlang}}
    <p class='description'>{{{frontPage.description}}}</p></div>
    <div class="searchcontainer">
      <div class="search">
           <i class="fa fa-search" aria-hidden="true"></i>
           <input type="text" placeholder='{{frontPage.search}}' style="border: none;">
           <p class="close">X</p>
       </div>
    </div>
    <div class="offeringsFirst offerings">
            {{#each offerings}}
            <div class="offering {{../color}}">
                <h2 class="offeringName">{{this.name}}</h2>
                <p class="offeringDescription">{{{this.description}}}</p>
                <p class="searchParameter">{{{this.description}}} {{this.institution}} {{this.name}} {{this.contactPersonEmailAddress}}</p>
                <hr>
                <div class='contact'>
                  <a class='column culturepic' href='{{this.website}}'><img src="{{this.picture}}"></a>
                  <div class='mailAndPhone column'>
                    <div class="desktop">
                      <a href='mailto:{{this.contactPersonEmailAddress}}'><i class="fa fa-envelope" aria-hidden="true"></i>{{this.contactPersonEmailAddress}}</a><br>
                      <a href='tel:{{this.contactPersonPhoneNumber}}'><i class="fa fa-phone" aria-hidden="true"></i>{{this.contactPersonPhoneNumber}}</a><br>
                    </div>
                    <div class="responsive ">
                      <a href='mailto:{{this.contactPersonEmailAddress}}'><i class="fa fa-envelope" aria-hidden="true"></i></a><br>
                      <a href='tel:{{this.contactPersonPhoneNumber}}'><i class="fa fa-phone" aria-hidden="true"></a></i><br>
                    </div>
                  </div>
                  <div class='openingHours column'>
                    <p class="address">Adresse:</p>
                    <p class="centered">{{{this.address}}}</p>
                    <p class="opening">Öffnungszeiten:</p>
                    <p class="centered">{{{this.openingHours}}}</p>
                  </div>
                </div>
                <hr class='end'>
            </div>
         {{/each}}
    </div>
    <hr>
    <div class="categories">
      {{#each categories}}
      <a href='/second/{{this.id}}?lang={{../chosenLang}}'>
          <div class='category firstcategory'>
            <h2 class='name'>{{this.name}}</h2>
            <div class="icon">{{{this.icon}}}</div>
          </div>
       </a>
      {{/each}}
    </div>
{{> foot }}
