

{{> head}}
   {{> titleandlang}}
    <p class='description'>{{frontPage.description}}</p></div>
    <div class="categories">
      {{#each categories}}
      <a href='/second/{{this.id}}?lang={{../chosenLang}}'>
          <div class='category'>            
            <h2 class='name'>{{this.name}}</h2>
            <div class="icon">{{{this.icon}}}</div>
          </div>
       </a>
      {{/each}}
    </div>
{{> foot }}
