{{> head}}
    <a class="backbutton" href="/?lang={{chosenLang}}"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>
    {{> titleandlang}}
    </div>
    <div class="levelheadingcontainer">
      <h2 class="levelheading {{color}}">{{{category.icon}}}{{category.title}}</h2>
      <p class='description'>{{category.categoryDescription}}</p>
    </div>
    <div class="categories">
      {{#each categories}}
      <a href='/third/{{this.firstLevel}}/{{this.id}}?lang={{../chosenLang}}&color={{../color}}'>
          <div class='category {{../color}} secondcategory'>
            <h2 class='name'>{{this.name}}</h2>
            <div class="icon">{{{this.icon}}}</div>
          </div>
       </a>
      {{/each}}
    </div>
{{> foot}}
