{{> head}}
    {{> titleandlang}}
    </div>
    <div class="categories">
      {{#each categories}}
      <a href='/third/{{this.firstLevel}}/{{this.id}}?lang={{chosenLang}}'>
          <div class='category'>            
            <h2 class='name'>{{this.name}}</h2>
            <div class="icon">{{{this.icon}}}</div>
          </div>
       </a>
      {{/each}}
    </div>
{{> foot}}