{{> head}}
    <a class="backbutton" href="{{referer}}"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>
    {{> titleandlang}}
    </div>
    <div class="categories">
      {{#each categories}}
      <a href='/third/{{this.firstLevel}}/{{this.id}}?lang={{../chosenLang}}'>
          <div class='category {{../color}}'>            
            <h2 class='name'>{{this.name}}</h2>
            <div class="icon">{{{this.icon}}}</div>
          </div>
       </a>
      {{/each}}
    </div>
{{> foot}}