{{> head}}
    <a class="backbutton" href="{{referer}}"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>
    {{> titleandlang}}
    </div>
    <div class="offerings">
        <div class="levelheadingcontainer">
            <h2 class="levelheading {{color}}">{{{category.icon}}}{{category.title}}</h2>
        </div>
            {{#each offerings}}
            <div class="offering {{../color}}">
                <h2 class="offeringName">{{this.name}}</h2>
                <p class="offeringDescription">{{{this.description}}}</p>
                <hr>
                <div class='contact'>
                  <a class='column culturepic' href='{{this.website}}'><img src="{{this.picture}}"></a>
                  <div class='mailAndPhone column'>
                    <div class="desktop">
                      <a href='mailto:{{this.contactPersonEmailAddress}}'><i class="fa fa-envelope" aria-hidden="true"></i>{{this.contactPersonEmailAddress}}</a><br>
                      <a href='tel:{{this.contactPersonPhoneNumber}}'><i class="fa fa-phone" aria-hidden="true"></i>{{this.contactPersonPhoneNumber}}</a><br>
                    </div>
                    <div class="responsive">
                      <a href='mailto:{{this.contactPersonEmailAddress}}'><i class="fa fa-envelope" aria-hidden="true"></i></a><br>
                      <a href='tel:{{this.contactPersonPhoneNumber}}'><i class="fa fa-phone" aria-hidden="true"></i><br>
                    </div>
                  </div>
                  <div class='openingHours column'>
                    <p>Adresse:</p>
                    <p>{{{this.adress}}}</p>
                    <p>Öffnungszeiten:</p>
                    <p>{{{this.openingHours}}}</p>
                  </div>
                </div>
                <hr class='end'>
            </div>
         {{/each}}
    </div>
{{> foot}}
